//- Navigation menu
nav.header__nav
    div.header__logo
        a.header__logo-link(href="#")
            | Good
            span lyfe

    ul.header__nav-menu.nav-menu
        li.nav-menu__item
            a.nav-menu__link(href="#") Classess
        li.nav-menu__item
            a.nav-menu__link(href="#") Timetable
        li.nav-menu__item
            a.nav-menu__link(href="#") Clubs
        li.nav-menu__item
            a.nav-menu__link(href="#") Nutrition
        li.nav-menu__item
            a.nav-menu__link(href="#") Free Trial
        li.nav-menu__item
            a.nav-menu__link(href="#") Search

    ul.header__user-menu.user-menu
        li.user-menu__item
            a.user-menu__link(href="#") Login

//- Slider
div.header__slider
    img(src="img/Female working out.jpg", alt="Слайд - девушка занимается в зале" width="1440px" height="705")
